LiveWallpaperApp
build
build/**
build-xcode
build-xcode/**
**.bak
**.patch
.DS_Store/
.DS_Store/**
BrewReleases
BrewReleases/**
.cache/
.cache/**
.vscode/
.vscode/**
.DS_Store
project.yml
LiveWallpaper.icon/Assets/roller 2.svg
LiveWallpaper.icon/icon.json
LiveWallpaper.icon/icon.json
LiveWallpaper.icon/Assets/roller 2.svg
/LiveWallpaper.icon
/AppIcon.icon

# md 파일
CLAUDE.md
PRD.md
REFACTOR.md

# Windows 빌드 아웃풋
windows/bin/
windows/obj/

# Linux 빌드 아웃풋
linux/build/
linux/build/**

# Claude Code 내부 파일
.claude/